@{
    ViewData["Title"] = "Calculation";
}
<p>Backoffice Menu</p>
<br />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Calculate" method="post">

            <input type="Submit" value="Initialize"/>
        </form>
        
    </div>

</div>
