@model GSOptima.Models.BootstrapModel

@*partial view ini adalah modal container. letakkan view ini disemua page yang akan menggunakan modal form*@
<div aria-hidden="true" aria-labelledby="modal-container-label" role="dialog" tabindex="-1" id="modal-container" class="modal fade">
    <div class="modal-dialog   @Model.ModalSizeClass" role="document">
        <div id="modal-content" class="modal-content">          
        </div>
    </div>
</div>


