<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Confirmation Email</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/theme.css" />
</head>
<body>
    <p style="text-align:justify">
        Terima kasih atas kepercayaan Anda kepada GaleriSaham dan GS Optima. Saat ini Anda telah <b>terdaftar</b> sebagai user resmi <b>GS Optima</b>.
        GS Optima adalah platform analisa saham di bursa efek Indonesia berbasis <b>trend optimizer</b> yang akan membantu Anda melakukan <b>analisa</b> dan menyusun <b>trading plan</b> yang sistematis dan efisien.
        Hubungi kami di 0858 9000 6618 untuk mengkonfirmasikan jadwal workshop Anda.
    </p>
    <p>
        <h4>Berikut adalah informasi User ID dan password GS Optima Anda:</h4>
        <ul>
            <li><b>User ID:</b> {0}</li>
            <li><b>Password:</b> 12341234 (Anda bisa mengubah password ini di bagian ‘manage account’)</li>
            <li>GS Optima Anda berlaku dari {1} hingga {2}.</li>
        </ul>
    </p>
    <p style="text-align:justify">
        <div style="color:red;">PENTING! User ID Anda belum aktif! </div>Mohon mengkonfirmasikan alamat email Anda <b><a href='{3}'>disini</a></b> 
        untuk mengaktifkan User ID Anda. Email verifikasi ini berlaku untuk <b>1 x 24 jam saja</b>.
    </p>
    <p style="text-align:justify">
        Anda akan difasilitasi <b>private communicator</b> di aplikasi <b>Telegram Messenger</b>. Setelah Anda install
        aplikasi ini, mohon informasikan via Telegram Messenger ke nomor 0858 9000 6618 dengan
        menyertakan <b>Nama lengkap</b> & <b>nomor HP</b> Anda untuk dapat kami invite ke <b>One Way Communicator GS Optima.</b>
    </p>
    <p>Terima kasih atas waktu dan perhatiannya. Have a systematic trade!</p>
    <br />

    <p>Salam Hangat,</p>
    <br />
    <!--<div style="background-color:#40B5E5">
        <img src="../../images/gsoptima.png" width="50" height="25" />
    </div>-->
    
            <!--<div style="text-align: center; width:30px;display: table; height:35px;  overflow: hidden;">
                <div style="display: table-cell; vertical-align: middle; background-color:#40B5E5">
                    <img src="../../images/gsoptima.png" width="200" />
                </div>
            </div>-->

            <br />
            Tim GS Optima

</body>
</html>